.home {
  background-image: url("./assets/home-bg.jpeg");
  background-size: "cover";
  background-position: "top";
  height: "100vh";
  min-height: 100%;
  position: "relative";
}

* {
  color: white;
}
